<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Pais.Nombre</title>
</head>

<body>
    <div class="text-center">
        <h2><b>@ViewBag.Pais.Nombre</b></h2>
        <img src="@ViewBag.Pais.imgBandera">
    </div>
    <h3><b>Población: @ViewBag.Pais.Poblacion</b></h3>
    <h4><b>Fecha de Independencia: @ViewBag.Pais.FechaIndependencia</b></h4>
    <p><b>Atractivos turísticos: @ViewBag.Pais.AtractivosTuristicos</b></p>
</body>

</html>